/* -------------------Common---------------------- */
ul {
  margin-bottom: 0px;
  list-style: none;
  padding: 0px;
}

.grey {
  background-color: #efefef;
}

.block{
  display: block;
}

.f-18px {
  font-size: 18px;
}

.flexbox-wrapper {
  /* Для вертикального выравнивания содержимого */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-title{
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  padding-bottom: 40px;
}

.frame {
  width: 100%;
  overflow:hidden;
  border: none;
}

.frame-container {
  overflow: hidden;
}


#rating ul>li,
#docs ul>li,
#weKnow ul>li,
#guarantees ul>li,
#whyRecomend ul>li  {
  margin-bottom: 20px;
}

#rating ul>li:last-child,
#docs ul>li:last-child,
#weKnow ul>li:last-child,
#guarantees ul>li:last-child,
#whyRecomend ul>li:last-child {
  margin-bottom: 0px;
}

#rating img,
#actions img,
#guarantees img,
#gallery img,
#whoWorks img,
#listFaculties img {
  width: 100%
}

/* -------------------#home--------------------- */

#home {
  margin-top: 40px;
}

.home-links > div {
  margin-bottom: 15px;
}

/* -------------------#rating---------------------- */

.rating-item {
  background: url("../images/500X500.png") no-repeat left;
  background-size: 15% auto;
  padding-left: 17%;
}

/* -------------------#sales---------------------- */

#sales>.container>.row:nth-child(2) {
  margin-bottom: 60px;
}

.sale {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #FF8000;
  width: 100%;
  height: 130px;
  text-align: center;
  margin: auto;
}

.sale>h3 {
  margin: 0px;
}

.sale-badge {
  position: relative;
  background: #efefef;
  width: 80%;
  margin-left: 10%;
  top: -20%;
  font-size: 18px;
}

/* -------------------whatKnow---------------------- */

#whatKnow ul>li {
  margin-bottom: 5px
}

#whatKnow ul {
  margin-bottom: 40px;
}

.bg-line {
  background: url("../images/line.png") no-repeat center left, url("../images/line.png") no-repeat center right;
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 750px) {
  .bg-line {
    background: none;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* ------------------#guarantees-------------------- */

#guarantees ul {
  list-style: disc;
  padding-left: 20px;
}

/* ------------------#whyRecomend------------------- */

.facebook-frame {
  padding-top: 40px;
}

/* -------------------#select---------------------- */

#actions a {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
}

#actions h3 {
  margin-bottom: 25px;
}
